/* desktop.css - Desktop specific styles */
@media screen and (min-width: 769px) {
    .top-nav,
    .main-wrapper,
    .nav-content {
      width: 100%;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .menu-logo-container {
      width: auto;
      flex-grow: 0;
    }
  
    .nav-content {
      justify-content: space-between;
    }
  
    .nav-links {
      display: flex;
    }
  
    .hamburger-menu {
      display: none;
    }
  }