/* navigation.css - Navigation specific styles */
.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .nav-links a {
    text-decoration: none;
    color: inherit;
    padding: 0.25rem;
    margin-left: 1rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  .logo span {
    margin-left: 0.5rem;
  }
  
  .menu-logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .hamburger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    order: 0;
  }

  /* Hide submenu by default */
.submenu {
  display: none;
  position: absolute; /* So it doesn’t push down other elements */
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}

/* Style for submenu items */
.submenu-item {
  display: block;
  padding: 12px 16px;
  color: #333;
  text-decoration: none;
}

/* Show the submenu when .menu-item is clicked */
.menu-item.active .submenu {
  display: block;
}
