.accordion {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.accordion-button {
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #e2e2e2;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 15px;
    background-color: black;
}

.accordion-content p {
    padding: 15px 0;
    margin: 0;
}
