/* utilities.css - Utility classes and common components */
.light {
    margin-top: 1em;
  }
  
  .light a {
    color: inherit;
    text-decoration: none;
  }
  
  .light a:hover {
    text-decoration: underline;
    text-transform: uppercase;
  }
  
  .avatar {
    vertical-align: middle;
  }
  
  .no-bullets {
    list-style-type: none;
    padding: 0;
  }
  
  .no-bullets li {
    padding: 8px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  hr.full {
    color: #000;
    margin: 3em 0 3em 1em;
    height: 1;
    width: 100%;
    text-align: center;
    border: none;
    letter-spacing: 2em;
  }
  
  hr.full:after {
    content: "··•··";
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  /* computer vision */
  h1, h2 {
    color: #333;
  }
  table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
  